node_modules
**/node_modules
.git
.github
.env
.env.*
.DS_Store
**/.turbo
**/dist
**/coverage
**/.cache
**/.next
examples/local
packages/**/lib
packages/**/esm
packages/**/cjs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

